*{padding: 0; margin: 0; box-sizing: border-box; font-family: sans-serif;
}
 .nav1{
   width: 100%;
   height: 50px;
   color: white;
   background: #222f3e;
   display: flex;
   justify-content: space-around;
   align-items: center;

 }
 .nav1 i{
     margin:0 5px;
 }
 .nav1 a{
   text-decoration: none;
   color: white;
   padding: 5px 10px;
   background: #e67e22;
 }
 .nav2{
   width: 100%;
   height: 80px;
   background: white;
   color: black;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 70px;
   z-index: 100;
 }
 .nav2 div a{
  text-decoration: none;
 }
 .nav2 div a ::after{
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -6px;
  height: 2px;
  background: black;
  border-radius: 5px;
  transform: translateY(10px);
  opacity: 0;
  transition: .5s;
 }
 .nav2 div a:hover::after{
  transform: translateY(0);
  opacity: 1;
 }
 .logo img{
   width: 30%;
   outline: none;
   border: none;
   background:none;
   border-radius: 50%;
 }
 .searchbar {
   width: 20%;
   height: 30px;
   background: transparent;
   border: 2px solid #fff;
   display: flex;
   align-items: center;
 }
 .searchbar input{
   width: 100%;
   background: transparent;
   border: none;
   outline: none;
   font-size: 14px;
   color:black;
 }
 .searchbar input::placeholder{
   color:black;
 }
 .searchbar button{
   width: 20px;
   height: 85%;
   background: transparent;
   display: flex;
   justify-content: center;
   border: none;
   outline: none;
   cursor: pointer;
   align-items: center;
 }
 .searchbar button i{
   font-size: 15px;
 }
 .menu a{
   text-decoration: none;
   color: black;
   padding: 10px 20px;
 }
 header{
   width: 100%;
   height: 100vh;
   background: url(Image/www.jpg);
   background-size: 100% 100%;
 }
.h-text{
   max-width: 600px;
   color: white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
}
.h-text h1{
   font-size: 3em;
   font-family: 'Dancing Script', cursive;
}
.h-text span{
   color: #e67e22;
   font-family: 'Dancing Script', cursive;
}
.h-text p{
   font-size: 20px;
   margin: 40px 0;
   line-height: 30px;
}
.h-text a{
   text-decoration: none;
   color: white;
   background: #e67e22;
   padding: 10px 20px;
   margin: 0 15px;
   letter-spacing: 5px;
}
#about{
  align-items: center;
  text-align: justify;
}
#about h3{
  margin: 3% 17% 0;
}
.heading1{
  margin: 0 17% 0;
  padding-top: 20px;>
}
#about p{
  margin: 3% 17% 0;
}
#about img{
  margin: 0 60% 0;
  position:absolute;
  width: 30%;
}
#services img{
  margin: 0 65% 20px;
  position: absolute;
}
#services p{
  margin: 0 17% 0;
}
.heading2{
  margin: 5% 17% 0;
}
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background: #f2f2f2;
  margin: 50px;
}

.services-img {
  width: 30%;
  margin: 20px;
  box-shadow: 0 0 5px rgba(38, 37, 37, 0.2);
}

